# dependencies
node_modules
**/node_modules/

# env files
.env
.env.*
!.env.example

# builds Outputs
dist/
build/
coverage/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Misc
.DS_Store

cookies.txt
client/cookies.txt
